{% extends 'base.html' %}

{% block content %}
    <div class='items'>
        <div class='rows'>
            {% for w in webservers%}           
            <div id='items'>
                <a id='producttitle'>{{w.name}}</a>
                </br>
                </br>
                <a> Item ID: {{w.id}}</a> </br> 
                    Vendor:  {{w.vendor}}</br>
                    Patch Level: {{w.patch_level}} </br>
                    In use: {{w.in_use}}  </br>
                </p>
            </div>    
            {% endfor %}
        </div>
    </div>
{% endblock %}