{% extends 'base.html' %}

{% block content %}
    <div class='items'>
        <div class='rows'>
            <a id='table_title'> Webservers: </a>
            <table id='webservers_table'>
                <tr>
                    <th>Item ID</th> 
                    <th>Product Title</th>
                    <th>Vendor</th>
                    <th>Patch Level</th>
                    <th>In Use</th>
                </tr>
                {% for w in webservers%}   
                 <tr>
                    <td>{{w.id}}</td> 
                    <td>{{w.name}}</td>
                    <td>{{w.vendor}}</td>
                    <td>{{w.patch_level}}</td>
                    <td>{{w.in_use}}</td>
                </tr>
                {% endfor %}               
            </table>

           
        </div>
    </div>
{% endblock %}