html{
    font-family: sans-serif;   
    margin: -0.02%;
}

h1{
    color: white;
    background-color: black;
    font-size: 70px;
    margin: auto;
    text-align: center;
    padding: 2%;
}
#table_title{
    font-size: 40px;
    padding: 2%;
    position: relative;
    top: 18px;
    left: 2%;
}

#webservers_table {
    width: 90%;
    text-align: center;
    padding-top: 2%;   
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%; 
}

#webservers_table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    height: 60px;   
    width: 18%;
}

td {
    height: 35px; 
    width: 20px; 
}
